@font-face {
    font-family: 'PTSans';
    src: url('PTSansBold.eot');
      src: url('PTSansBold.eot?#iefix') format('embedded-opentype'),
        url('PTSansBold.woff') format('woff'),
        url('PTSansBold.svg#PTSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

