@font-face {
    font-family: 'MyriadPro';
    src: url('MyriadProBold.eot');
      src: url('MyriadProBold.eot?#iefix') format('embedded-opentype'),
        url('MyriadProBold.woff') format('woff'),
        url('MyriadProBold.ttf') format('truetype'),
        url('MyriadProBold.svg#MyriadProBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

