@media screen and (max-width: 1260px) {
	hgroup{
		background: rgb(0 0 0 / 18%);
	}
	.topnav nav ul li{margin:0px 1% 18px 1%;}
	.search{min-width: 50px; width: 8.497%; max-width: 110px;}

}



@media screen and (max-width: 1117px) {
	/* Top */
	.header {height: auto;padding-bottom: 10%;}

	/* top manu */
	.topnav { display: flex; align-content: space-between; height: auto;}
	.topnav .logo {margin-top: 10px;}
	.topnav > nav > ul > li { margin-bottom: 5px; padding-bottom: 5px;}
	.topnav .search {margin-top: 12px;}

	#top .top-menu > div:nth-child(2){text-align: left;}
	#top .top-menu > div:nth-child(2) > div.mail{ min-width: 202px; display: inline-block;}
	#top .top-menu>div:nth-child(2)>div.mail a {
		background: none;
		padding-left: 0;
		margin-top: 9px;
	}

      	/* Top title */
	.topnav +.title {margin-top: 30px;}

              	/* The work content */
	.content .work {display: inline-block;/* padding-bottom: 20%; */}
	.content .work hgroup {
		/* text-align: center; */
	}

	.work,
	.work>ul {
		height: auto;
	}
	.work >hgroup > h2 { padding-top: 5%;}
	.work >hgroup > ul {text-align: center;display: inline-block;/* width: 90%; */}
	.work >hgroup > ul > li{margin-top: 10%;height: 332px;float: none;clear: both;display: inline-block;}



	/* About company */
	.content > *, .content #kompaniya {margin-bottom: 0;margin-top: 0;}
	#kompaniya > .kompaniya > img:first-child{display: none;}
	#kompaniya div.figcaption{position: relative; padding: 0 10px; margin: 0 10px;top: 0; left: 24%; padding-bottom: 5px;}
	#kompaniya div.figcaption > a { margin: 0 auto; }

	/* The aside */
	.aside{ padding-top: 5%;}
	.aside h2 {
		margin-bottom: 5%;
	}



	/*other */
	div.other {height: inherit;display: inline-block;}
	div.other h2,  #utp h2 {padding-top: 30px;font-size: 2.142857em;}
	div.other h2 { margin-bottom: 10px; }
	.other ol li{width:39.0637%;}
	.other div:first-of-type ol li:nth-child(4){width:32.963%;}
	.other div:first-of-type ol li:nth-child(2){width:32.963%;}

	/* The footer maps */
	.footer .maps div.text-maps{max-height: none;width: revert;}

																																																																																																					.maps div p {
																																																																																																						columns: initial;
																																																																																																						width: calc(98.5% - 3.25px);
																																																																																																					}
	.maps div#maps { min-width: 300px; width: auto;}
}





@media screen and (max-width: 1055px) {
    #top .top-menu #top-right{min-width:290px;}

}

@media screen and (max-width: 1002px) {
	.bottom-center .menu-footer+.menu-footer	{display:none;}
	.bottom-center{width:auto;}

	.other ol .n04, .other ol .n02{margin-left:3%}
}

@media screen and (max-width: 948px) {
	.question+a{margin-right: 1.78675%;	}
	.question {margin-left: 6.34299%;  }
	.other ol .n04,
	.other ol .n02 {
		margin-left: 1%
	}
}

@media screen and (max-width: 870px) {
	#top .top-menu #top-right{min-width:227px;}
	#top-left .wh #call,
	#top-left .wh #wh {
		display: none;
	}
	#soc { display:none;}

	.other ol li{    padding-left: 72px;}


}


@media screen and (max-width: 867px) {
	.maps div#maps{ min-width: 300px; width: auto;}
	.topnav nav{width:54.294%;}

}

@media screen and (max-width: 795px) {
	#top{
		height: auto;
    display: inline-block;
	}
	.question {width:46.398%;}

	/* top manu */
	.topnav{display:inline-block;text-align: center;}

	.title hgroup>* {
		padding-left: 5px;
	}

	.title hgroup>h2 {
		text-align: left;
		font-size: 2em;
	}
	.title hgroup>h2:nth-child(3) {
		margin-top: 10px;
	}

	.topnav>div.logo,
	.topnav>nav,
	.topnav>div.search {
		margin-left: 5px;
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-top: 10px;
	}
	#top .top-menu #top-left + div {min-width:173px;}
/* 	#top .top-menu #top-left{min-width:266px;} */
	#top-left + div a{background-image:none; margin-left:0; padding-left:5px;}

	#top .top-menu #top-right{min-width:197px;}
	.topnav nav{width:53.294%;}
	.topnav +.title > div{ height: inherit; margin-top: 10px;}
	.content #menu {padding-top:5px;	}
	.content #menu ul.menu {display:inline-block;text-align:center;}
	.content #menu ul.menu li {
		min-width: 110px;
		display: inline-block;
		float: none;
	}
	.content #menu ul.menu li a, .content #menu ul.menu li:last-of-type a{padding-left:0;}
	.menu li a.time, .menu li a.p, .menu li a.star, .menu li a.shield, .menu li a.skidka, .menu li a.time:hover, .menu li a.p:hover, .menu li a.star:hover, .menu li a.shield:hover, .menu li a.skidka:hover{background:none;}

	.other, #utp{min-width:inherit;}
	.other ol li.n01,
	.other ol li.n02,
	.other ol li.n03,
	.other ol li.n04 {
		background-image: none;
		border-left: 1px solid #ff0c00;
		padding-left: 7.8457%;
	}
	.aside .bonus>div{    min-width: inherit;}

	.aside .bonus ul {
		min-width: inherit;
		width: inherit;
		text-align: center;
		display: inline-block;
		height: inherit;
	}
	.aside .bonus ul li{width:265px;padding-left:4px;padding-right:4px;text-align: center;float: none;display: inline-block;}

    /* About company */
    #kompaniya div.figcaption{width:inherit;left: auto; margin: 0 auto;}
    /* Our trusted */
    .confidence div.logo {
    width: auto;
    min-width: auto;
}
    .confidence > ul {display:inline-block;text-align:center;min-width: 147px;width: auto;float: none;}
    .confidence ul li {float:none;text-align:center;margin: 5% auto;}

    /* Our trustes */


    /* Our advantagas */
    #utp>ul {
      display: inline-block;
      width: 98%;
      height: auto;
      text-align: center;
      max-width: calc(100% - 11.56px);
    }
	#utp>ul>li {
    /* width: 100%;*/
		margin: 5% 0 5% 3%;
		display: inline-block;
		float: inherit;
	}
}

@media screen and (max-width: 783px) {
	
	#top .top-menu #top-left{min-width: 301px;}
	.maps{ height:auto; padding-bottom: 5%; display: inline-block; }
	.maps div#maps {display:none;}
  .footer .maps div.text-maps {
    padding-left: 3%;
    display: inline-block;
    width: 97%;
    max-width: calc(98.5% - 3.25px);
    min-width: initial;
    margin: 0 auto;
  }

	.footer .maps div.text-maps>h2:first-child {
		text-align: center;
	}
  .maps div p {
    columns: 0.4em 2;
    width: calc(98.5% - 23.86px);
  }
	

}


@media screen and (max-width: 765px) {
	.topnav nav{width:50.294%;}
	.content img{max-width:59.0446%;}
	.other ol li {
		width: 40.05376%;
	}

	.work {overflow: hidden;	}
	.work ul { display: inline-block; height: inherit; }
	.work ul > li[class^='n0'] { min-width: 160px; margin-top: 8px;}
	.work ul > li[class^='n0']:first-child {margin-top: auto;}

	.work >hgroup > ul > li { float: none; clear: both; display: inline-block; }

    /* The aside news */
    .news {
    padding-top: 5%;
		}
	.aside .news-block>ul {
			text-align: center;
	}
	.aside .news-block>ul>Li {
		min-width: 198px;
		display: inline-block;
		text-align: left;
		float: none;
	}
	.aside .news-block>ul>Li figure .img-news time {
	/* position: absolute; */
	left: 7.53%;
	right: auto;
	}
	.aside .news-block>ul>Li figcaption h3,
	.aside .news-block>ul>Li figcaption p {
		text-align: center;
		margin-left: 0;
		margin-right: 0;
		padding: 0 5px;
		width: inherit;
	}

	.aside .news-block>ul>Li figcaption p {
		text-align: left;
	}
	#kompaniya div.figcaption{    left: initial;
    margin: 0 auto;}
	#utp>ul>li{width: 35%;}
	.question {width: initial;}
	.question+a{
			margin: 0 auto;
			float: none;
			clear: both;
	}
	#utp ul li,
	#utp ul li span{
	width: calc(100% - 25px)
	}
}

@media screen and (max-width: 500px) {
	
	#top .top-menu div#top-left {
			min-width: 300px;
			margin: 0 auto;
			float: none;
			clear: both;
	}
	#top .top-menu #top-left + div{width: 100%; max-width:200px; text-align: center;}
	.title hgroup h1{font-size: 2em;}
	.title hgroup>h2, .title hgroup h2+h2{font-size: 1.2em;}
	.aside .bonus >div >ul {width: inherit; min-height: 944px; text-align: center;}
	.aside .bonus >div >ul >li { display: inline-block; float: none; clear: both;}
	
	
	.content #menu ul.menu{
		width:calc(100% - 11.6px);
	}
	/* #utp>ul>li {width: 100%};*/ 
	#utp ul li{margin-left: initial; margin-right: initial;}
	.other ol li.n01, .other ol li.n02, .other ol li.n03, .other ol li.n04,
	#utp ul li span+span+span,
	.maps div p, 
	.figcaption h3+div p
	{
		font-size: 0.7em;
	}
	.maps div p{
		columns: initial;
	}
	#utp ul li span:first-of-type{
		font-weight: 700;
	}
	div.other h2, #utp h2{
		margin-bottom: 10px;
	}
	

	.work ul > li[class^='n0']:first-child,
	.work ul > li[class^='n0']{
		height:215px;
		background-size: 50px auto;
		margin-right: initial;
		margin-left: initial;
		    min-width: 136px;
    max-width: 160px;
	}
	.work ul li h3{
 margin-top: 122px;
 font-size: 0.8em;
	}
	.footer .maps div.text-maps{max-width: calc(98.5% - 9.25px)}
}

@media screen and (max-width: 400px) {
	#top .top-menu #top-left + div,
	#top .top-menu #top-right {max-width: initial;
		margin: 0 auto;
    width: 200px;
    float: none;
    clear: both;}
	#top .top-menu #top-left + div div,
	#top .top-menu #top-right div{float: none; clear: both;}
	#top .top-menu #top-right div {float: left; clear: none;}
	.menu-footer, .bottom-center{float: none; clear: both;     width: calc(100% - 58%);}
	.bottom-center{padding-top: 0;     display: inline-block;}
	.bottom-center .menu-footer:first-of-type ul{
		margin-right: 9px;
	}
	.menu-footer{
		display: inline-block;
		min-width: 170px;
	}
	.bottom-right{width: 142px; padding-top: 0;}
	.bottom-right ul li{float:none; display: inline-block;}
}